.gifBlock {
    width: 18rem;
    margin: 25px 0 25px 0;
}

.gifBlock img{
    width: 18rem;
    height: 18rem;
}

.card-text {
    font-size: 1.25em;
    text-align: center;
    font-family: 'Merriweather', serif;
}

#gif-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}